* {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  font-family: "Turret Road", sans-serif;
}

.top-section {
  background-image: url('img/fundoViolao.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
  color: white;
  width: 100%;
}

.top-section::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  position: relative;
  z-index: 2;
}

.navbar h1 {
  color: white;
  font-size: 1.5rem;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
}

.login {
  background-color: #960D0D;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
}

.hero-section {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  padding: 20px;
  max-width: 1000px;
  display: block;
}

.hero-content h1{
  font-family: "Limelight", sans-serif;
  font-size: 5rem;
  margin: 30px;
}

.hero-content p{
  font-size: 40px;
  margin: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 20px;
}

.button {
  padding: 0.75rem 1.5rem;
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.button.primary {
  background-color: #960D0D;
  border: none;
  color: white;
}

.button.secondary {
  background-color: transparent;
  color: white;
}

.button.primary:hover, .button.secondary:hover {
  font-size: 1.2em;
}

.sessao-categorias{
  background-color: #960D0D;
}

.sessao-categorias h1{
  font-family: "Limelight", sans-serif;
  color: white;
  font-size: 80px;
  text-align: center;
  align-items: center;
}

.categorias{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 150px;
  padding: 50px;
  flex-wrap: wrap;
}

.categoria{
  text-align: center;
  color: black;
}

.categoria figcaption{
  font-size: 30px;
  color: white;
  margin-top: 10px;
}

.categoria img{
  width: 200px;
  border-radius: 50%;
}

footer {
  background-color:#960D0D;
  padding: 40px;
  color: white;
  text-align: center;
}

a[href="#"] {
  color: white;
}

