*{
    border: 0; /*borda*/
    padding: 0; /*espaço entre elemento*/
    margin: 0; /*margem*/
    /*
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    */
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header > h1{
    color: plum;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    font-weight: 300;
    /*font: 5em sans-serif;*/
    border: red 10px dotted;
    background-color:darkblue;
    text-align: center;
    letter-spacing: 10px;
}

ul {
    background-color: plum;
    display: flex;
    justify-content: center;
  }
  
  li {
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      transition: all 0.3s ease;
    }
  
    li a {
        color: black;
        text-decoration: none; 
    }  
    
    li:hover {
        background-color: darkblue;
        color: plum;
        transform: scale(1.05);
      }

article{
    margin: 100px;
    text-align: center;
}  

    article > h1 {
        color: white;
        background-color: purple;
        font-size: 2em;
        border-radius: 20px;
    }

.prf p{
    color: palevioletred;
}

.prf figcaption{
    color: blue;
    text-align: center;
}

aside{
    margin: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer{
    background-color: darkblue;
    padding: 40px;
    color: plum;
    text-align: center;
}
    a[href="#"]{
        color: white;
    }