.fundoDireita {
  font-family: "Montserrat", sans-serif;
  background-image: url('img/fundoGuitarra.png');
  background-size: cover;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
}

.fundoDireita::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 0;
}

.fundoEsquerda {
  font-family: "Montserrat", sans-serif;
  background-image: url('img/bateriafundo.png');
  background-size: cover;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 5%;
}

.fundoEsquerda::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 0;
}

header {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.direita {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.logo {
  width: 80px;
  height: auto;
}

.login-container {
  background: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  width: 400px;
  height: 550px;
  text-align: center;
  z-index: 1;
}

.cadastro-container {
  background: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  width: 400px;
  height: 400px;
  text-align: center;
  z-index: 1;
  margin-right: 100px;
}

.cadastro2-container {
  background: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  width: 400px;
  height: 600px;
  text-align: center;
  z-index: 1;
  margin-right: 100px;
}


h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 3px #aaa;
}

.social-login button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  font-size: 16px;
  cursor: pointer;
}

.social-login img {
  width: 20px;
  height: 20px;
}

.continue {
  font-family: "Montserrat", sans-serif;
}

form {
  text-align: left;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-size: 16px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-bottom: 15px;
}

.center-btn {
  text-align: center;
}

.login-btn {
  margin: 30px;
  background-color: #c62828;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 25px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.conta {
  margin-top: 4px;
  font-size: 16px;
}

.conta a {
  color: #c62828;
  text-decoration: none;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

.adm {
  color: #c62828;
}